.sidebar{
    height: 100vh;
    flex: 0.2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height: 100vh;
    background-color: #040404;
}

.sidebar__logo{
    object-fit: contain;
    height: 70px;
    padding: 10px;
    margin-right: auto;
}

.sidebar__title{
    margin-left: 10px;
    padding : 5
}

.sidebar > hr {
    border: 0.1px solid #282828 ;
    width: 90%;
    margin: 10px auto;
}